.App {
  text-align: center;
  background-color: #ecebe7;
  /* display: flex; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.char-form-div > label {
  width: 100px;
  display: inline-block;
}

.bg-image {
  position: absolute;
}

.car {
  position: absolute;
  z-index: 100;
  width: 150px;
  transition: top 300ms ease-out;
}

.top-lane {
  top: 330px;
}

.bot-lane {
  top: 390px;
}
